* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Slab", serif;
}

body {
    /*
    background-image: url(./assets/crie_uma_imagem_com_cores_escuras_de_fundo_de_um_site_de_barbearia_com_nome_de_binho_do_corte\ \(1\).png);*/
    width: 100%;
    height: 100%;
    background-size: cover;
    background-color: #0f0e0e;


}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    max-width: 100%;

}



.imagem-header img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 20px;


}

.imagem-header {
    width: 40%;
    ;

}

.links-header {
    display: flex;
    gap: 20px;
    width: 60%;

}

.links-header a {
    text-decoration: none;
    font-size: 26px;
    color: #fff;
    cursor: pointer;

}

.links-header a:hover {
    color: red;
    transition: 0.7s;
}

.container-logo {
    display: flex;
    align-items: center;
    background-color: #292a2a;
    backdrop-filter: blur(3px);
    padding: 20px;
    margin-top: 200px;
    height: 550px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
    opacity: 0.8;
    box-shadow: 2px 3px black;
    max-width: 100%;

}


.container-logo img {
    height: auto;
    width: 600px;
    object-fit: cover;

}

.caixa-logo {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 50%;
}

.caixa-logo p {
    font-size: 25px;
    color: #fff;
}

.text-logo {
    width: 50%;
    padding: 20px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    color: #fff;
}

.text-logo h1 {
    color: #fff;
}

.text-logo h3 {
    font-size: 25px;
}

section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0.8;
    box-shadow: 2px 3px black;
    background-color: #292a2a;
    height: 600px;
    margin-top: 100px;
    margin-right: 100px;
    margin-left: 100px;
    padding: 50px;
    padding-top: 100px;
    gap: 200px;
    border-radius: 30px;
    backdrop-filter: blur(5px);
    max-width: 100%;
}

section img {
    width: 500px;
    object-fit: cover;
    border-radius: 50%;
}

section h2 {
    color: #fff;
    font-size: 50px;
    margin-bottom: 80px;
    text-align: center;
}

section a img {
    width: 50px;
    height: 50px;
    cursor: pointer;
    text-align: center;


}

.organizar-links {
    display: flex;
    flex-direction: column;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
    padding: 20px;
    margin-bottom: 10px;
    margin-left: 150px;

}


.foto-binho {
    width: 30%;

}

.descricao {
    width: 70%;
    font-size: 30px;
    color: #fff;
    text-align: center;


}

.organizar-descricao {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 100%;

}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 50px;
    background-color: #292a2a;
    backdrop-filter: blur(3px);
    padding: 20px;
    margin-top: 200px;
    height: 600px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
    opacity: 0.9;
    box-shadow: 2px 3px black;
    max-width: 100%;


}

nav img {
    height: 500px;
    width: 500px;
    object-fit: cover;
    border-radius: 15px;

}

nav p {
    font-size: 25px;
    text-align: center;
    color: #fff;
}

.tabela {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    max-width: 100%;
    backdrop-filter: blur(3px);
    padding: 20px;
    margin-top: 250px;
    height: 750px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
    opacity: 0.9;


}

.tabela img {
    width: 700px;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
    margin-top: 50px;
}

.tabela button {
    width: 350px;
    height: 80px;
    background-color: red;
    color: #fff;
    font-size: 25px;
    border: none;
    border-radius: 20px;
    cursor: pointer;

}

button:hover {
    transition: 0.5s;
    opacity: 0.5;
}

button a {
    text-decoration: none;
    font-size: 25px;
    color: #fff;
}

footer {
    background-color: #292a2a;
    box-shadow: 2px 3px black;
    height: 100px;
    width: 100%;
    margin-top: 250px;
    padding: 20px;
    text-align: center;
    font-size: 25px;
    color: #fff;
    border-radius: 20px;
    opacity: 0.5;
    max-width: 100%;
}

.imagem-what {
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
}

.imagem-what:hover {
    width: 108px;
}

@media (max-width: 768px) {

    header {
        margin-left: 25px;

        width: 100%
    }

    .links-header {
        width: 100%;
    }

    .links-header a {
        font-size: 15px;
    }

    .imagem-header {
        display: none;
    }

    .container-logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
        width: 90%;
        background-color: #292a2a;
        margin-top: 50px;
        margin-right: 40px;
       
    }

    .caixa-logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
        height: 300px;
        padding-top: 30px;
    }

    .caixa-logo img {
        width: 100%;
        height: auto;
    }

    .text-logo {
        width: 100%;
        height: auto;
    }

    section {
        width: 90%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 20px;
    }

    .binho {
        width: 300px;
        border-radius: 20px;
        
    }

    .links {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 100px;
        margin-top: 10px;
        height: auto;

    }

    .organizar-links {
        height: 200px;
        margin-bottom: 10px;
    }

    .descricao {
        width: 100%;
        height: auto;
    }

    .organizar-descricao {
        height: auto;
        margin-top: 10px;
    }

    .organizar-descricao h2 {
        margin-top: 20px;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
        height: auto;
        margin-bottom: 10px;
    }

    nav img {
        width: 300px;
        object-fit: cover;
        height: auto;
    }

    .tabela {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
        width: 90%;
        margin-top: 20px;
        gap: 30px;
    }

    .table-img {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .table-img img {
        width: 350px;
        height: auto;
    }

    button:hover {
        opacity: 0.5;

    }

    .imagem-what {
        height: 50px;
        margin-right: 10px;
        margin-bottom: 10px;
        position: fixed;
        
    }

    footer {
        width: 100%;
        height: 100px;
        font-size: 15px;
        padding: 30px;
        border-radius: 0;
        margin-right: 0;
        margin-left: 3px;
        margin-top: 20px;
        
    }
    .text-logo h3{
        font-size: 20px;
    }
    .descricao {font-size: 20px;}

    .button button{
        width: 300px;
        height: 50px;
        padding-bottom: 5px ;
        
    }
    .button a {
        font-size: 20px;
        
    }
    .button{
        
    }
    .text-logo h1{
        margin-top: 20px;
        text-align: center;
    }

}